/* PAGE BASE */
body {
    background: #f7f3e8;
    color: black;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

.update-container {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}

.update-title {
    font-size: 32px;
    color: #0a66c2;
    margin-bottom: 30px;
}

.movie-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.poster {
    width: 150px;
    border-radius: 10px;
}

.movie-info h2 {
    margin: 0;
    font-size: 24px;
    color: #0a66c2;
}

.movie-info p {
    margin-top: 5px;
    color: #555;
}

/* FORM */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

select,
textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 16px;
    background: white;
    color: black;
}

/* UPDATE BUTTON */
.submit-btn {
    padding: 12px;
    font-size: 18px;
    border: none;
    background: #0a66c2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background: #004182;
}

/* DELETE BUTTON */
.delete-btn {
    padding: 12px;
    font-size: 18px;
    border: none;
    background: #d9534f;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

.delete-btn:hover {
    background: #b52b27;
}
